.gamecardcontainer{
    margin: 50px auto;
    max-width: 70%;
    height: fit-content;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;   
}

.no-games{
    font-size: 30px;
}

.filter-container{
    margin: 50px auto;
    max-width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}
.active{
    border-bottom: 2px solid black;
}
.filter-container {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
}

.filter-container div{
    padding: 10px;
}

